<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE suite SYSTEM "http://testng.org/testng-1.0.dtd">
<suite name="Suite" parallel="tests" thread-count="3">
	<test name="Device1">
		<parameter name="deviceName_" value="GalaxyS6" />
		<parameter name="UDID_" value="192.168.1.136:5555" />
		<parameter name="platformVersion_" value="5.1.0" />
		<parameter name="URL_" value="127.0.0.1:4238/wd/hub" />
		<classes>
			<class name="demo.appium.parallel.andriod.Appium_TestNG_Sample_One" />
		</classes>
	</test>
	<test name="Device2">
		<parameter name="deviceName_" value="Nexus7" />
		<parameter name="UDID_" value="192.168.137.102:5555" />
		<parameter name="platformVersion_" value="6.0.0" />
		<parameter name="URL_" value="127.0.0.2:1020/wd/hub" />
		<classes>
			<class name="demo.appium.parallel.andriod.Appium_TestNG_Sample_One" />
		</classes>
	</test>
	<test name="Device3">
		<parameter name="deviceName_" value="GalaxyS5" />
		<parameter name="UDID_" value="0815f83dd9d41c01" />
		<parameter name="platformVersion_" value="6.0.0" />
		<parameter name="URL_" value="127.0.0.3:1050/wd/hub" />
		<classes>
			<class name="demo.appium.parallel.andriod.Appium_TestNG_Sample_One" />
		</classes>
	</test>
</suite> <!-- Suite -->
